/* WordNew.css */

/* 全体のフォームスタイル */
.word-create-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--container_bg);
  border: var(--container_bd);
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--shadow);
}

.word-create-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--h1_fg);
}

.word-create-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--container_c);
}

.word-create-form input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 12px;
  background-color: var(--input);
  border: 1px solid var(--input_bd);
  color: var(--input_c);
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}
.word-create-form select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 12px;
  background-color: var(--select);
  border: 1px solid var(--select_bd);
  color: var(--select_c);
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}
input[type='text'] {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  background-color: var(--input);
  color: var(--input_c);
  border: var(--input_bd);
  border-radius: 4px;
  font-size: 14px;
}
.word-create-form button {
  background-color: #007bff;
  color: var(--button);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
}

.word-create-form button:hover {
  background-color: #0056b3;
}

.word-info-section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--word_i_sec);
}

.japanese-mean-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.japanese-mean-section button {
  background-color: var(--jpm_delete_button);
  color: #fff;
  font-size: 12px;
}

.japanese-mean-section button:hover {
  background-color: var(--jpm_delete_button_hover);
}

button.part-of-speech-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  background-color: var(--pos_delete_button);
  color: var(--button);
  font-size: 12px;
}

.part-of-speech-section button:hover {
  background-color: var(--pos_delete_button_hover);
}

.word-create-container .submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.word-create-container .submit-button button {
  width: 150px;
  font-size: 16px;
}

:root {
  --button: #ffffff;
  --button_border: #3567ff;
  --button_bg: #3b82f6;
  --pagination_bg: #3b82f6;
  --pagination: #ffffff;
  --pagination_bd: #cfd4dc;
  --select_bd: var(--input_bd);
}
.dark {
  --button: #ffffff;
  --button_border: #5b8cff;
  --button_bg: #3b82f6;
  --pagination_bg: #3b82f6;
  --pagination: #ffffff;
  --pagination_bd: #343a46;
}
