/* src/styles/global.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.wordList-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.pagination-container {
  /* display: flex; */
  /* justify-content: flex-end;
  text-align: center; */
  margin-top: 20px;
  margin-right: 30px;
}

.select-limit {
  margin-left: 10px;
}

button {
  margin-left: 5px;
}