body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* index.css */
:root {
  --bg: #ffffff;
  --container_bg: #eee;
  --container_bd: #ccc;
  --container_c: #000;
  --fg: #222222;
  --h1_fg: #111;
  --app_header: #282c34;
  --thbc: #f2f2f2;
  --thbd: #ddd;
  --input: #eee;
  --input_bd: #666;
  --input_c: #000;
  --textarea_bg: #fff;
  --textarea_c: #000;
  --select: #fff;
  --select_bd: #cfd4dc;
  --select_c: #000;
  --button: #ffffff;
  --button_border: #3567ff;
  --button_bg: #3b82f6;
  --button_disabled: #ffffff;
  --button_border_disabled: #262626;
  --button_bg_disabled: #7da8d8;
  --aplk: #61dafb;
  --primary: #007bff;
  --border: #ddd;
  --pagination_bg: #3b82f6;
  --pagination: #ffffff;
  --pagination_bd: #cfd4dc;
  --pagination_bg_disabled: #ccc;
  --table_th: #007bff;
  --table_th_c: #fff;
  --table_tr_e: #f2f2f2;
  --success_pop_bc: #4caf50;
  --register_button: #4caf50;
  --register_button_registered: #f44336;
  --jpm_delete_button: #dc3545;
  --jpm_delete_button_hover: #b02a37;
  --pos_delete_button: #dc3572;
  --pos_delete_button_hover: #b02a4e;
  --save_button: #2196f3;
  --save_button_hover: #1976d2;
  --shadow: rgba(0, 0, 0, 0.1);

  --word_i_sec: #ddd;
  --table_row_hover: #61646a;
  --table_row_active:#e0ecff;
}
.dark {
  --bg: #1a1a1a;
  --container_bg: #333;
  --container_bd: #000;
  --container_c: #fff;
  --fg: #fff;
  --h1_fg: #eee;
  --app_header: #8aa4d8;
  --thbc: #f2f2f2;
  --thbd: #555;
  --input: #000;
  --input_c: #fff;
  --input_bd: #ccc;
  --textarea_bg: #737373;
  --textarea_bd: #666;
  --textarea_c: #fff;
  --select: #333;
  --select_bd: #666;
  --select_c: #fff;
  --button: #ffffff;
  --button_border: #5b8cff;
  --button_bg: #3b82f6;
  --button_disabled: #888888;
  --button_border_disabled: #262626;
  --button_bg_disabled: #223852;
  --aplk: #92e5fc;
  --primary: #002559;
  --border: #444;
  --pagination_bg: #3b82f6;
  --pagination: #ffffff;
  --pagination_bd: #343a46;
  --pagination_bg_disabled: #333;
  --table_th: #2e00ac;
  --table_th_c: #ccc;
  --table_tr_e: #2f2f2f;
  --success_pop_bc: #0e7811;
  --register_button: #00815c;
  --register_button_registered: #a20023;
  --jpm_delete_button: #b31f2e;
  --jpm_delete_button_hover: #84131e;
  --pos_delete_button: #b31f4e;
  --pos_delete_button_hover: #841337;
  --save_button: #1c75bd;
  --save_button_hover: #115c9a;
  --shadow: rgba(0, 0, 0, 0.3);

  --word_i_sec: #424242;
  --table_row_hover: #273142;
  --table_row_active:#202a3a;
}

/* 任意のコンポーネント */
body {
  background: var(--bg);
  background-color: var(--bg);
  color: var(--fg);
  transition: background 0.3s;
}
p {
  color: var(--fg);
}
input {
  background-color: var(--input);
  color: var(--input_c);
  border: var(--input_bd);
}
select {
  background-color: var(--select);
  color: var(--select_c);
  border: var(--select_bd);
}
div.container {
  background-color: var(--container_bg);
  border: var(--container_bd);
  color: var(--container_c);
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--container_c);
}

/* button {
  color: var(--button);
  border: var(--button_border);
  background-color: var(--button_bg);
} */
button:disabled {
  color: var(--button_disabled);
  border: var(--button_border_disabled);
  background-color: var(--button_bg_disabled);
  cursor: not-allowed;
}
/* button:disabled:hover {
  color: var(--button_disabled);
  border: var(--button_border_disabled);
  background-color: var(--button_bg_disabled);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
