name: CI Pipeline

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop
  workflow_dispatch:   
    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.23

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      working-directory: ./backend
      run: |
        go mod tidy
        go mod download

    - name: Generate Ent code
      working-directory: ./backend
      run: go generate ./ent

    - name: Generate mocks
      working-directory: ./backend
      run: mockery --all --output=src/mocks


    - name: Install golangci-lint
      working-directory: ./backend
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.54.2
      env:
        GO111MODULE: "on"

    - name: Run Go Linter
      working-directory: ./backend
      run: golangci-lint run ./...

    - name: Run Backend Tests
      run: go test ./...

    - name: Install Frontend Dependencies
      run: npm install

    - name: Run Frontend Linter
      run: npx eslint src/

    - name: Run Frontend Tests
      run: npm test
